@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');


$color-pink: #ED145B;
$color-cream: #F4F4F4;
$color-white: #FFFFFF;
$color-grey: #5A5A5A;
$color-green: #16A085;
$color-black: #000;
$color-lightGreen: #1ABC9C;




*{
	box-sizing: border-box;	
	outline: none;
	font-family: 'Baloo Chettan', cursive;
}
.hideme {
    opacity:0;
}

.row {
	margin-right: 0;
}

.button {
	width: 200px;
	height: 50px;
	margin: 10px;
	font-size: 20px;
	background-color: $color-green;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	color: $color-white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4%;
	&:hover {
		box-shadow: 0 0 20px rgba(26, 188, 156, 0.8);
		background-color: $color-lightGreen;
	}
	&:hover .insider {
		transition: all 0.3s ease;
		left: 175px;
	}
	.insider {
		background-color: #FFF;
		width: 100%;
		height: 20px;
		position: absolute;
		left: -175px;
		transform: rotateZ(45deg);
	}
}

/*jumbotron*/
.hero {
	background-image: url("../images/hero_bg.png");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	.navbar-default {
		background-color: transparent;
		border: none;
		opacity: 0.8;
		transition: 0.5s;
		padding-top: 25px;
		.navbar-form {
			border: none;
		}
		.navbar-nav {
			li {
				font-weight: bold;
				a {
					color: $color-white; 
					transition: 0.3s;
					position: relative;
					text-decoration: none;
					&:hover {
						color: $color-lightGreen;
					}
					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						bottom: 0;
						left: 0;
						background-color: $color-lightGreen;
						visibility: hidden;						
						transform: scaleX(0);
						transition: all 0.3s ease-in-out 0s;
					}
					&:hover:before {
						visibility: visible;
						transform: scaleX(1);
					}
				}
			}
		}
		.navbar-toggle {
		    border-color: $color-lightGreen;
		    &:hover {
		    	background-color: $color-green;
		    }
		    &:focus {
		    	background-color: $color-green;
		    }
		}
		.navbar-collapse {
	 		text-align: center;
	 		border-color: $color-lightGreen;
	 		.nav {
 			    display: flex;
			    align-items: center;
			    justify-content: space-around;
			    flex-wrap: wrap;
			    width: 100%;
	 		}
 		}
 		.icon-bar {
 			background-color: $color-lightGreen;
 		}
 		
 	}
 	
 	.spacer {
	    height:50px;
	    margin: 0;
	}
 	.header {
 		display: flex;
		align-items: center;
 		flex-direction: column;
 		color: $color-white; 
 		h1 {
 			text-transform: uppercase;
 			font-weight: 100;
 			text-align: center;
 		}
 		a {
 			@extend .button
 		}
 	}
}



.simple {
	height: 100vh;
}